table.table-with-borders td, table.table-with-borders th {
    padding: 1px 8px 1px 5px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

table.table-with-borders td:blank {
    background-color: grey;
}

img.inline-image {
    vertical-align: middle;
}