name: ATOMPM_CI

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '.readthedocs.yaml'
      - '**/make_docker.yml'
      - '**/package_portable.yml'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '.readthedocs.yaml'
      - '**/make_docker.yml'
      - '**/package_portable.yml'

jobs:
  test:
    strategy:
      matrix:
        version: [18]
    runs-on: ubuntu-latest
    
    steps:
    
    - name: install chromium and setuptools
      run: |
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y chromium-browser python3-setuptools
        sudo apt install python3-pip
    
    - uses: actions/checkout@v3
    
    - name: npm install
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.version }}
        
    - name: setup chromedriver
      uses: nanasess/setup-chromedriver@master
  
    - name: npm run
      run: npm ci
      env:
        DETECT_CHROMEDRIVER_VERSION: true
      
#    - uses: actions/cache@v2
#      id:   cache
#      with:
#        path: ~/.cache/pip
#        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
#        restore-keys: |
#          ${{ runner.os }}-pip-
      
    - name: install igraph and socketio dependencies
#      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        pip3 install six wheel websocket-client python-socketio[client] python-socketio
        pip3 install --user python-igraph

    - name: test mt server startup
      run: |
        python mt/main.py --exit_early
    
#    - name: run tests
#      run: |
#        chromium --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
#        xvfb-run --server-args="-screen 0 2880x1800x24" ./run_tests.sh

#  if we are running with xvfb there is no need to run headless; remaining parameters passed to nightwatch configuration

    - name: run test 01_startup_test
      run: |
        ./run_tests.sh headless ./tests/01_startup_test.js

    - name: run test 02_login_test
      run: |
        ./run_tests.sh headless  ./tests/02_login_test.js

    - name: run test 03_model_test
      run: |
        ./run_tests.sh headless  ./tests/03_model_test.js

    - name: run test 04_compile_test
      run: |
        ./run_tests.sh headless  ./tests/04_compile_test.js

    - name: run test 05_toolbar_test
      run: |
        ./run_tests.sh headless  ./tests/05_toolbar_test.js

    - name: run test 08_pacman_transformation_test
      run: |
        ./run_tests.sh headless  ./tests/08_pacman_transformation_test.js

    - name: run test 06_creating_dsl
      run: |
        ./run_tests.sh headless  ./tests/06_creating_dsl.js

    - name: run test 07_transformation_test
      run: |
        ./run_tests.sh headless  ./tests/07_transformation_test.js

    - name: run test 09_missing_files
      run: |
        ./run_tests.sh headless  ./tests/09_missing_files.js
  
    - name: run test 10_undo_test
      run: |
        ./run_tests.sh headless  ./tests/10_undo_test.js
        
    - name: run test 11_collab_test
      run: |
        ./run_tests.sh headless  ./tests/11_collab_test.js

    - name: run test 99_ecore_toolbar_test
      run: |
        ./run_tests.sh headless  ./tests/99_ecore_toolbar_test.js

    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        path: |
          ./logs/
          !./logs/*chromedriver.log
          ./screenshots/
        if-no-files-found: ignore
